<!--
<div class="card">
  <div class="card-body">
    <h3 class="text-primary">Print and communication through a service</h3>
    <p-button label="Print"(onClick)="handleClick($event)"></p-button>
  </div>
</div>

<div id="print-section">
  THIS SHOULD NOT BE PRINTED
</div>
-->
<div class="noprint">
<h1>Dynamic Main Page Title</h1>
<p>
  Here is the relevant data that you want to print and archive
</p>
<button (click)="handleClick($event)">print</button>
</div>
<!--<p-dialog header="Title" [(visible)]="display" [modal]="true">-->
<!--  <div class="print_this">Content ... should not be printed for now</div>-->
<!--</p-dialog>-->
<!--<app-print-popup ></app-print-popup>-->
