<!-- put in some other stuff here and maybe style the table -->
<p-calendar [(ngModel)]="value" [inline]="true"></p-calendar>
<br><br>
<p-table [columns]="tableData.columnHeaders" [value]="tableData.rows">
  <ng-template pTemplate="caption">
    {{tableData.caption}}
  </ng-template>
  <ng-template pTemplate="header" let-thecolumns>
    <tr>
      <th *ngFor="let col of thecolumns;">
        {{col.header}}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-thedata>
    <tr>
      <td *ngFor="let cell of thedata;">
        {{cell.data}}
      </td>
    </tr>
  </ng-template>
</p-table>
<app-column-selection-dialog [display]="display" [columns]="tableData.columnHeaders" (closed)="onDialogClose($event)"></app-column-selection-dialog>
<!--<p>The display variable is now {{display}}</p>-->
